<!DOCTYPE html>
<html>
<head>
  
    <link rel="icon" href="/public/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css"> 
    
    </head>
<body>
  <div class="main-content">
      {{>header}}

      <img  class="portrait" src="./images/img.jpg">
      <p>his was created by Tharulela Putuka. It gets data from papbox.com and weather stack</p>

  
      

</div>
      {{>footer}}
</body>
</html>